.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.dev-bio-ctn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
    gap: 2rem;
}

.dev-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 0 1 500px;
}

.tool-desc-ctn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.tool-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 0 1 500px;
}

.findings-ctn {
    display: flex;
    justify-content: center;
    max-width: 500px;
}

.video-ctn {
    display: flex;
}

.video-ctn video {
    max-width: min(1280px, 100%);
    border: 0.125rem solid #3d3d3d;
    border-radius: 0.5rem;
}

h1,
a,
span {
    margin: 0;
}
